*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Цвета */
  --color-text-primary: #000000;
  --color-bg-light: #ffffff;
  --color-bg-gray: #f4f4f4; /* фон у 2 блока, 4, 6, 12*/
  --color-bg-dark: #2c3945; /* синий фон у 7 блока и 9 */
  --color-accent: #f59a00;
  --color-accent-dark: #a05f2a;
  --color-accent-alt: #42975a;
  --color-accent-orange: #f58b02;
  --color-card-dark: #2f3b46;
  --color-icon-bg: #263746;

  /* Отступы */
  --container-padding: 0 110px;
  --section-padding-lg: 200px 0;
  --section-padding-md: 120px 0;

  /* Шрифты */
  --font-family: "Inter", sans-serif;
  --font-size-h1: 48px;
  --font-size-h2: 48px;
  --font-size-h3: 32px;
  --font-size-large: 24px;
  --font-size-base: 20px;
  --font-size-small: 16px;

  /* Кнопки */
  --btn-height: 64px;
  --btn-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-text-primary);
  background: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
}

p {
  margin: 0;
}

/* Глобальные стили */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  border: none;
}
/* Глобальные стили */

.hero {
  min-height: 100vh;
  padding: 301px 0 94px;
  background: url("../img/hero-bg.jpg") center / cover no-repeat;
}

.hero__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 110px;
}

.hero__offer {
  max-width: 921px;
  margin: 0 auto 120px;
}

.hero__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  max-width: 910px;
}

.hero__title-line {
  display: block;
}

.hero__title-line--top {
  text-align: left;
}

.hero__title-line--bottom {
  text-align: right;
}

.hero__btn {
  width: fit-content;
  margin-top: 60px;
  margin-left: auto;
  padding: 0 50px;
  background: #f59a00;
  color: #fff;
  display: flex;
  transition: filter 0.3s ease;
}

.hero__btn:hover {
  filter: brightness(114%);
}

.hero__bottom {
  display: flex;
  align-items: flex-end;
}

.hero__text {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
}

/* CSS 2 блок */
.glued-timber {
  padding: 120px 0 81px;
  background: var(--color-bg-gray);
}

.glued-timber__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 110px;

  display: flex;
  flex-direction: column;
}

.glued-timber__title {
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 0;
  text-transform: uppercase;
}

.glued-timber__tabs {
  display: flex;
  gap: 20px;
  margin-bottom: 70px;
}

.glued-timber__tab {
  flex: 1;
  height: 64px;
  border-radius: 10px;
  border: 1px solid var(--color-text-primary);
  background: transparent;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.glued-timber__tab--active {
  background: #42975a;
  border-color: #42975a;
  color: #fff;
}

.glued-timber__body {
  display: flex;
  align-items: center;
  gap: 179px;
}

.glued-timber__content {
  display: flex;
  flex-direction: column;
}

.glued-timber__subtitle {
  margin-bottom: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  text-transform: uppercase;
}

.glued-timber__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0;
}

.glued-timber__list li {
  position: relative;
  padding-left: 29px;
}

.glued-timber__list li::before {
  content: "";
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 6px;
  height: 6px;
  border-right: 2px solid var(--color-text-primary);
  border-bottom: 2px solid var(--color-text-primary);
}

.glued-timber__price {
  margin-bottom: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0;
}

.glued-timber__button {
  background: #f59a00;
  color: #fff;
  padding: 0 50px;
}

.glued-timber__image {
  flex-shrink: 0;
  overflow: hidden;
}

.glued-timber__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* CSS 3 блок */
.timber-profiles {
  padding: 120px 0;
}

.timber-profiles__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 110px;
}

.timber-profiles__title {
  margin-bottom: 60px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  text-transform: uppercase;
}

.timber-profiles__list {
  display: flex;
  gap: 20px;
}

.timber-profiles__item {
  flex: 1;
}

.timber-profiles__image {
  margin-bottom: 40px;
}

.timber-profiles__image img {
  display: block;
  width: 100%;
  height: auto;
}

.timber-profiles__name {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
}

/* CSS 4 блок */
.timber-sizes {
  padding: 120px 0;
  background: var(--color-bg-gray);
}

.timber-sizes__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 110px;

  display: flex;
  align-items: flex-start; /* ВАЖНО */
  gap: 101px;
}

.timber-sizes__content {
  display: flex;
  flex-direction: column;
}

.timber-sizes__title {
  margin-bottom: 60px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
}

.timber-sizes__group--vertical {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
}

.timber-sizes__buttons {
  display: flex;
  gap: 10px;
}

.timber-sizes__group--horizontal {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.timber-sizes__grid {
  display: grid;
  grid-template-columns: repeat(4, 132px);
  gap: 10px;
}

.timber-sizes__btn {
  width: 132px;
  height: 50px;
  padding: 0;
  border-radius: 8px;
  border: 1px solid #f59a00;
  background: transparent;
  font-size: 20px;
  line-height: 1.2;
}

.timber-sizes__btn--active {
  background: #f59a00;
  color: #fff;
}

.timber-sizes__icon {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.timber-sizes__image {
  width: 500px;
  max-width: 100%;
  flex-shrink: 0;
}

.timber-sizes__image img {
  display: block;
  width: 100%;
  height: auto;
}

/* CSS 5 блок */
.timber-process {
  padding: 200px 0;
}

.timber-process__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 110px;
}

.timber-process__title {
  max-width: 523px;
  margin-bottom: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  text-transform: uppercase;
}

.timber-process__text {
  max-width: 523px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 1.2;
}

.timber-process__list {
  display: flex;
  gap: 20px;
}

.timber-process__item {
  flex: 1;
  padding: 40px;
  border-radius: 20px;
  background: #2f3b46;
  color: #fff;
}

.timber-process__item-title {
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
}

.timber-process__item-text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 1.2;
}

.timber-process__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}

.timber-process__head {
  max-width: 523px;
}

.timber-process__arrows {
  display: flex;
  gap: 30px;
  margin-bottom: 12px;
}

/* CSS 6 блок */
.wall-kits {
  padding: 120px 0;
  background: var(--color-bg-gray);
}

.wall-kits__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 110px;
}

.wall-kits__title {
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
}

.wall-kits__text {
  margin-bottom: 60px;
  font-size: 24px;
  line-height: 1.2;
  max-width: 741px;
}

.wall-kits__list {
  display: flex;
  gap: 20px;
  margin-bottom: 60px;
}

.wall-kits__item::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: auto;
  background: #f59a00;
}

.wall-kits__item {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.wall-kits__img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.wall-kits__bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.wall-kits__question {
  font-size: 24px;
  line-height: 1.2;
}

.wall-kits__button {
  padding: 0 86px;
  background: #f59a00;
  color: #fff;
}

.wall-kits__row {
  position: relative;
  margin-bottom: 40px;
}

.wall-kits__row p {
  font-size: 20px;
  line-height: 1.2;
}

.wall-kits__arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
}

/* CSS 7 блок */
.ready-kits {
  padding: 120px 0;
  background: var(--color-bg-dark);
  color: #fff;
}

.ready-kits__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 110px;
}

.ready-kits__inner {
  padding: 0 100px;
}

.ready-kits__title {
  margin-bottom: 90px;

  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.ready-kits__body {
  display: flex;
  align-items: flex-start;
  gap: 103px;
  margin-bottom: 60px;
}

.ready-kits__gallery {
  display: flex;
  flex-direction: column;
  gap: 20px; /* между большой и маленькими */
}

.ready-kits__main-img {
  width: min(100%, 500px);
  height: auto;
}

.ready-kits__thumbs {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; /* чтобы переносились на маленьких экранах */
}

.ready-kits__thumbs img {
  width: calc(33.333% - 14px); /* три в ряд с учетом gap */
  min-width: 120px; /* минимальный размер */
  max-width: 240px; /* максимальный размер */
  height: auto;
  flex: 1;
}

.ready-kits__content {
  flex: 1;
}

.ready-kits__subtitle {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
}

.ready-kits__description {
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 1.2;
}

.ready-kits__group {
  margin-bottom: 40px;
}

.ready-kits__group h4 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
}

.ready-kits__group p {
  margin-bottom: 15px;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.7);
}

.ready-kits__group p:last-child {
  margin-bottom: 0;
}

.ready-kits__price {
  margin-bottom: 40px;
}

.ready-kits__price h4 {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
}

.ready-kits__price p {
  font-size: 24px;
  font-weight: 500;
}

.ready-kits__button {
  height: 64px;
  padding: 20px 127px;
  border-radius: 10px;
  background: #f59a00;
  color: #fff;
  width: 100%;
  max-width: 417px;
  font-size: 20px;
}

.ready-kits__dots {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.ready-kits__dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.4;
}

.ready-kits__dot--active {
  opacity: 1;
  background: #f59a00;
}

.ready-kits__inner {
  position: relative;
  padding: 0 100px;
}

.ready-kits__arrow {
  position: absolute;
  top: 46%;
  transform: translateY(-50%);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.ready-kits__arrow img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ready-kits__arrow--prev {
  left: -5px;
}

.ready-kits__arrow--next {
  right: -5px;
}

/* CSS 8 блок */
.advantages {
  padding: 200px 0;
  background: #fff;
}

.advantages__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 110px;
}

.advantages__header {
  display: flex;
  gap: 91px;
  margin-bottom: 90px;
}

.advantages__title {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages__subtitle {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 1.2;
}

.advantages__content {
  display: flex;
  gap: 78px;
}

.advantages__images {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.advantages__images img {
  width: 100%;
  border-radius: 14px;
  object-fit: cover;
}

.advantages__list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.advantages__item {
  display: flex;
  gap: 40px;
}

.advantages__icon {
  flex: 0 0 90px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #263746;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages__item--accent .advantages__icon {
  background: #f58b02;
}

.advantages__item-content h3 {
  margin: 0 0 30px;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.advantages__item-content p {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 1.2;
}

/* CSS 9 блок */
.eco-safety {
  padding: 120px 0;
  background: var(--color-bg-dark);
  color: #ffffff;
}

.eco-safety__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 110px;
}

.eco-safety__header {
  display: grid;
  grid-template-columns: 497px 1fr;
  gap: 123px;
  margin-bottom: 115px;
}

.eco-safety__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
}

.eco-safety__text {
  font-family: "Inter", sans-serif;
  font-size: 24px;
}

.eco-safety__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  flex-wrap: wrap;
  gap: 30px;
}

.eco-safety__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eco-safety__icon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: var(--color-bg-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.eco-safety__caption {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.eco-safety__button {
  display: block;
  margin: 0 auto;
  height: 64px;
  padding: 0 50px;
  border-radius: 10px;
  background: #f58b02;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

/* CSS 10 блок */
.thermal {
  padding-top: 200px;
  background: #ffffff;
}

.thermal__container {
  max-width: 100%;
  padding: 0 110px;
}

.thermal__head {
  max-width: 954px;
  margin-bottom: 60px;
}

.thermal__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.thermal__text {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  max-width: 703px;
}

.thermal__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: -110px;
  margin-right: -110px;
}

.thermal__card {
  border: 1px solid var(--color-text-primary);
  width: 100%;
  min-width: 0;
}

.thermal__image {
  height: 288px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color-text-primary);
}

.thermal__image img {
  max-width: 100%;
  object-fit: contain;
}

.thermal__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 288px;
  padding: 45px 20px 44px;
  justify-content: space-between;
}

.thermal__name {
  min-height: 58px;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 500;
}

.thermal__value {
  margin-bottom: 15px;
  font-family: "Inter", sans-serif;
  font-size: 64px;
  line-height: 1.2;
}

.thermal__unit {
  font-family: "Inter", sans-serif;
  font-size: 24px;
}

.thermal__value {
  color: #f58b02;
}

.thermal__value--accent {
  color: #42975a;
}

/* CSS 11 блок */
.certificates {
  padding: 200px 0;
  background: #fff;
}

.certificates__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 110px;
}

.certificates__title {
  margin-bottom: 90px;

  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.certificates__list {
  display: flex;
  justify-content: center;
  gap: 228px;
}

.certificates__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.certificates__subtitle {
  margin-bottom: 40px;

  font-family: "Inter", sans-serif;
  font-size: 24px;
}

.certificates__item img {
  max-width: 100%;
  height: auto;
}

/* CSS 12 блок */
/* блок */
.consultation {
  position: relative;
  padding: 102px 0;
  background: var(--color-bg-gray);
  overflow: hidden;
}

/* контейнер */
.consultation__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 110px;
}

/* заголовок */
.consultation__title {
  margin-bottom: 30px;

  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

/* подзаголовок */
.consultation__subtitle {
  margin-bottom: 60px;

  font-family: "Inter", sans-serif;
  font-size: 24px;
}

/* форма */
.consultation__form {
  margin-bottom: 60px;
}

/* поля + кнопка */
.consultation__fields {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}

/* инпуты */
.consultation__input {
  min-width: 290px;
  height: 64px;
  padding: 0 30px;
  border-radius: 10px;
  border: none;
  background: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}

/* кнопка */
.consultation__button {
  height: 64px;
  padding: 0 76px;
  border-radius: 10px;
  background: #f59a00;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  cursor: pointer;
}

/* чекбокс */
.consultation__agreement {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
}

.consultation__agreement a {
  color: #f59a00;
}

/* блок мессенджеров */
.consultation__messengers {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* текст */
.consultation__messengers-text {
  font-size: 24px;
}

/* иконки */
.consultation__messengers-list {
  display: flex;
  gap: 10px;
}

.consultation__messenger img {
  width: 64px;
  height: 64px;
}

/* человек */
.consultation__image {
  position: absolute;
  right: 20px;
  bottom: 0;
  pointer-events: none;
}

.consultation__image img {
  display: block;
  max-width: 100%;
  height: auto;
}

.consultation__checkbox {
  width: 24px;
  height: 24px;
  appearance: none; /* убираем стандартный вид */
  -webkit-appearance: none;
  border: 2px solid var(--color-text-primary);
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

/* галочка */
.consultation__checkbox:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 8px;
  width: 6px;
  height: 12px;
  border-right: 2px solid var(--color-text-primary);
  border-bottom: 2px solid var(--color-text-primary);
  transform: rotate(45deg);
}
